.meetVideoContainer{
    position: relative;
    height: 100vh;
    background-color: rgb(8, 11, 75);
}
.meetUserVideo{
    position: absolute;
    bottom: 10vh;
    height: 20vh;
    width: auto;
    left: 0;
    border-radius: 20px;
}
.buttonContainers{
    position: absolute;
    width: 100vw;
    bottom: 0;
    text-align: center;
}
.buttonContainers svg {
    font-size: 3rem;
}
.conferenceView{
    display: flex;
    padding: 10px;
    gap: 10px;
    height: 20vh;
}
.conferenceView video {
    width: 40vw;
    min-width: 30vw;
}
.chatRoom{
    position: absolute;
    height: 90vh;
    width: 30vw;
    right: 0;
    background-color: white;
    border-radius: 10px;
    bottom: 10vh;
    padding-inline: 20px;
}
.chatContainer{
    position: relative;
    height: 100%;
}
.chattingArea{
    position: absolute;
    bottom: 0;
}
